h2{
    letter-spacing:1rem ;
    @media screen and (min-width:400px) and (max-width:800px){
        letter-spacing: 0.3rem;
    }
    @media screen and (max-width:399px){
        letter-spacing: 0.2rem;
    }

}