.not-found{
    width:100vw;
    height:60vh;
    display:flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    .child-container{
        width:65%;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        @media screen and (min-width:800px) and (max-width:1100px){
            grid-template-columns: repeat(3,1fr);
        }
        @media screen and (min-width:500px) and (max-width:799px){
            grid-template-columns: repeat(2,1fr);
        }
        @media screen and (max-width:499px){
            display:flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
        
    }
    
}
