@import "../../../colors.scss";
.frame_container {
  position: fixed;
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
  background: $primary_grey;
  opacity: 0.8;
  z-index: 50;
  animation: appear 0.5s;
  @keyframes appear {
    0% {
      opacity: 0%;
    }
    100% {
      opacity: 100%;
    }
  }
}
.model_container {
  position: fixed;
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
  background: transparent;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: apper 0.5s ease-in;
  .errModel {
    width: 400px;
    height: 250px;
    background: $vlite_white;
    border-radius: 4px;
    
    position: relative;
    .header {
      width: 100%;
      height: 55px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      background: $thick_blue;
      display: flex;
      justify-content: flex-start;
      h6 {
        color: $vlite_white;
        font-size: 16px;
        margin-left: 10px;
      }
    }
    .model_content {
     position: absolute;
      width: 100%;
      top:60px;
      height:180px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 0;
      h6{
          font-family: $abel_font;
          font-size: 15px;
          font-weight: bold;
          letter-spacing: 0.1rem;
          margin: 0 8px;
      }
      .model_btn{
          width:90px;
          height: 40px;
          margin-top: 20px;
          border-radius: 4px;
          background: $fav_red;
          opacity: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          h6{
              font-weight: bold;
              color: white;
          }
      }

    }
    @media screen and (max-width: 500px) {
      width: 340px;
    }
    @media screen and (max-width: 320px) {
      width: 305px;
    }
  }
  @keyframes apper {
    0% {
      top: -50%;
    }
    100% {
      top: 0%;
    }
  }
}
