$header_bg:#282c34;
$primary_black:#292929;
$yellow_text:#ffd900;
$transition:all 0.3s linear;
$primary_white:#fff;
$primary_grey:#4d4d4d;
$primary_green:#93cb52;
$form_green:#38d39f;
$fav_red:#f15025;
$vlite_white:#ccc;
$thick_blue:#2a006e;
$error:#e80004;
$regular_font:'Poppins',-apple-system, BlinkMacSystemFont;
$abel_font:'Abel',sans-serif;