@import "../../../colors.scss";
.place_container {
  width: 300px;
  height: 400px;
  border-radius: 30px;
  background: $primary_black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 15px;
  text-align: center;
  transition: $transition;
  animation: appear 1.5s;
  .image_section {
    width: 96%;
    height: 65%;
    margin: 0 auto;
    margin-top: 2px;
    border-radius: 30px;
    img {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      width: 100%;
      height: 100%;
      border-radius: 30px;
    }
  }
  h3{
    font-family: $abel_font;
    margin: 8px 0;
    color: $vlite_white;
    letter-spacing: 0.14rem;
    font-size: 20px;
    text-transform: capitalize;;
  }
  h4{
    letter-spacing: 0.14rem;
    color: $fav_red;
    opacity: 0.7;
    border-bottom:2px solid black;
    span{
      cursor: pointer;
      transition: $transition;
      @media screen and (min-width:1250px){
        &:hover{
          transform: scale(1.1);
        }
      }
      
    }
    
  }
  .icon-holder{
    width: 90%;
    height: 40px;
    margin:0 auto;
    margin-top:9px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .map-icons{
      color: $vlite_white;
      margin-left: 6px;
      font-size: 26px;
      cursor: pointer;
      transform: $transition;
      @media screen and (min-width:1250px){
        &:hover{
          border: 3px solid $fav_red;
          border-radius: 50%;
        }
      }
    }
    .edit-icons{
      color: $primary_green;
      font-size: 26px;
      cursor: pointer;
      transform: $transition;
      @media screen and (min-width:1250px){
        &:hover{
          border: 2px solid $fav_red;
          border-radius: 50%;
        }
      }
    }
    .delete-icons{
      color: $fav_red;
      margin-right: 6px;
      font-size: 26px;
      cursor: pointer;
      transform: $transition;
      @media screen and (min-width:1250px){
        &:hover{
          border: 3px solid $vlite_white;
          border-radius: 50%;
        }
      }
    }
  }
  @keyframes appear {
    0%{
      opacity: 0;
    }
    100%{
      opacity:1;
    }
  }
  @media screen and (min-width:1250px){
    &:hover{
      transform: scale(1.1);
    }
  }
}
