@import "../../../colors.scss";

.model {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 150;
  background: transparent;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  display: flex;
  transition: $transition;
  animation: model_appear 1s;
  .model-container {
    width: 70%;
    height: 65%;
    background: $vlite_white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    .title {
      width: 100%;
      height: 80px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      background: $thick_blue;
      display: flex;
      align-items: center;
      justify-content: center;
      h1 {
        font-family: $abel_font;
        color: $vlite_white;
        letter-spacing: 0.4rem;
        font-size: 29px;
        @media screen and (min-width: 800px) and (max-width: 1160px) {
          letter-spacing: 0.3rem;
          font-size: 27px;
        }
        @media screen and (min-width: 500px) and (max-width: 799px) {
            letter-spacing: 0.25rem;
            font-size: 23px;
        }
        @media screen and (max-width: 499px) {
            letter-spacing: 0.13rem;
            font-size: 16px;
        }
      }
      
    }
    
    @media screen and (max-width: 1250px) {
      width: 83%;
      height: 75%;
    }
    @media screen and (min-width: 1250px) {
        height: 80%;
      }

    h2{
        font-family: $abel_font;
        font-size: 27px;
        display: flex;
        justify-content: space-between;
        
        letter-spacing: 0.25rem; 
        margin-left:5px;
        margin-top:5px;
        
        @media screen and (min-width: 800px) and (max-width: 1160px) {
            letter-spacing: 0.2rem;
            font-size: 24px;
          }
          @media screen and (min-width: 500px) and (max-width: 799px) {
              letter-spacing: 0.15rem;
              font-size: 20px;
          }
          @media screen and (max-width: 499px) {
              letter-spacing: 0.09rem;
              font-size: 15px;
          }
      }
      .map_container{
        width:100%;
        height: 68%;
        display: flex;
        align-items: center;
        justify-content: center;
        .map_content{
          height: 95%;
          width: 100%;
        }
        .about_content{
          height: 95%;
          width: 100%;
          text-align: center;
          h1{
            letter-spacing: 0.15rem;
          }
          .desc-container{
            width:80%;
            margin:5px auto;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: $abel_font;
            h2{
              font-size: 22px;
              letter-spacing: 0.06rem;
              @media screen and (max-width:700px){
                font-size: 14px;
              letter-spacing: 0.04rem;
              }
            }

          }
        }
        .delete_container{
          width: 100%;
          
          height: 200px;
          text-align: center;
          letter-spacing: 0.1rem;
          font-size: 15px;
          .buttons_handler{
            width:100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 30px;
            .cancel_btn{
              width:100px;
              height: 40px;
              opacity: 0.85;
              color: white;
              background-color: $primary_black;
              cursor:pointer;
              border-radius: 8px;
              display: flex;
              align-items: center;
              justify-content: center;
              h2{
                font-size: 17px;
              }
            }
            .delete_btn{
              width:100px;
              height: 40px;
              opacity: 0.85;
              color: white;
              background-color: $fav_red;
              margin-left: 25px;
              cursor:pointer;
              border-radius: 8px;
              display: flex;
              align-items: center;
              justify-content: center;
              h2{
                font-size: 17px;
              }
            }
          }
          .delete_content{
            width:90%;
            margin:auto auto;
            margin-top: 15px;
            margin-bottom: 15px;
            h2{
              font-size: 22px;
              letter-spacing: 0.06rem;
              @media screen and (max-width:700px){
                font-size: 14px;
              letter-spacing: 0.04rem;
              }
            }
          }
        }
      }
      .cls_btn_holder{
        width:100%;
        height:10%;
        
        display:flex;
        align-items: center;
        justify-content: center;
        .btn{
          height: 80%;
          width:100px;
          border-radius: 10px;
          background: $fav_red;
          opacity: 0.7;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          @media screen and (min-width: 800px) and (max-width: 1160px) {
            
          }
          .h2{
            opacity: 1;
          }
        }
      }
  }
  @keyframes model_appear {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
